<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-8c0536a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8c0536a" data-element_type="section">
						<div class="elementor-container elementor-column-gap-wider">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-20fb8e3" data-id="20fb8e3" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-3e78451 elementor-widget elementor-widget-heading" data-id="3e78451" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">#1 Amazon Bestsellers</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-83d087d elementor-widget elementor-widget-heading" data-id="83d087d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">3100+ 5-Star Reviews</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-bbfe004 elementor-star-rating--align-center elementor--star-style-star_fontawesome elementor-widget elementor-widget-star-rating" data-id="bbfe004" data-element_type="widget" data-widget_type="star-rating.default">
				<div class="elementor-widget-container">
							<div class="elementor-star-rating__wrapper">
						<div class="elementor-star-rating" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating">
				<i class="elementor-star-full" aria-hidden="true"></i><i class="elementor-star-full" aria-hidden="true"></i><i class="elementor-star-full" aria-hidden="true"></i><i class="elementor-star-full" aria-hidden="true"></i><i class="elementor-star-full" aria-hidden="true"></i>				<span itemprop="ratingValue" class="elementor-screen-only">Rated 5 out of 5</span>
			</div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>

		<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-bb41ee9 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bb41ee9" data-element_type="section">
						<div class="elementor-container elementor-column-gap-wider">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-ac6c825" data-id="ac6c825" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-ca62e9a elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-laptop elementor-widget elementor-widget-image" data-id="ca62e9a" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="672" height="1024" src="https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image-672x1024.jpg" class="attachment-large size-large wp-image-18130" alt="" srcset="https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image-672x1024.jpg 672w, https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image-197x300.jpg 197w, https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image-768x1170.jpg 768w, https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image-1009x1536.jpg 1009w, https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image-1345x2048.jpg 1345w, https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image.jpg 1650w" sizes="(max-width: 672px) 100vw, 672px">															</div>
				</div>
				<div class="elementor-element elementor-element-22a6537 elementor-widget__width-auto elementor-widget elementor-widget-text-editor" data-id="22a6537" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p><i>Amazon #1 Best Seller!</i></p>								</div>
				</div>
				<div class="elementor-element elementor-element-5426eac elementor-widget elementor-widget-heading" data-id="5426eac" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">The First-Time Manager:  Sales</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-a16e6dd elementor-widget elementor-widget-text-editor" data-id="a16e6dd" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p><strong>“Another Weinberg classic…a must-read for both seasoned and new managers!”</strong> —Drew Ellis, SAP</p><p><strong>“…So packed with actionable content that, from front cover to back, I was taking notes and blocking time to implement my takeaways.”</strong> —Jason Thomas, Salesforce</p>								</div>
				</div>
				<div class="elementor-element elementor-element-a7e3abe elementor-widget elementor-widget-button" data-id="a7e3abe" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="https://mikeweinberg.com/ftm-book/">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Learn more</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-51b9a66 elementor-hidden-mobile" data-id="51b9a66" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-a450210 elementor-widget elementor-widget-image" data-id="a450210" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="672" height="1024" src="https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image-672x1024.jpg" class="attachment-large size-large wp-image-18130" alt="" srcset="https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image-672x1024.jpg 672w, https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image-197x300.jpg 197w, https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image-768x1170.jpg 768w, https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image-1009x1536.jpg 1009w, https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image-1345x2048.jpg 1345w, https://mikeweinberg.com/wp-content/uploads/2023/07/9781400241514_image.jpg 1650w" sizes="(max-width: 672px) 100vw, 672px">															</div>
				</div>
					</div>
		</div>
					</div>
		</section>