---
---

<footer class="px-4 bg-brand-100 dark:bg-brand-900">
  <div class="max-w-7xl mx-auto pt-16 pb-6 lg:pt-24">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <div class="flex justify-center sm:justify-start">
          <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 655.4 371.7" class="h-8 w-auto fill-current text-brand-600 dark:text-brand-400">
            <path d="M275.3,124.8c2.8-7.2-.8-15.1-7.9-17.9-7.1-2.8-15.1.8-17.9,7.9-27.7,69.6-76.3,164.9-143.9,201.3-16.9,9.3-57.4,19.9-69.9.7-4.4-6.9-4.6-16.2-1.8-24.1,6.2-17.5,20.1-31.7,33.8-44.1,7.2-6.7,15.1-12.3,21.9-19.4h0c1.7-1.9-1.2-4.5-3-2.6-6.8,6.5-15,11.9-22.3,18-18.9,15.6-39.1,35-41.7,60.9-1.6,34.7,34,43,61.7,37.8,76.2-14.2,133.2-100.2,166.6-164.5,8.9-17.6,17.2-35.5,24.3-54Z"/>
            <path d="M622.5,150.1c-56.4,5-112.6,10.1-168.6,18.8,4.4-9.4,8.6-18.9,12.6-28.5,14.2-34.6,24.9-70.8,32.6-107.2h0c1.5-8.9-11-11.8-13.6-3.3-6.6,23.5-14.1,46.6-23.2,69-6.7,16.8-14.6,33.3-22.8,49.4-4.4,8.5-9.1,16.9-13.8,25.3-42.2,7.6-84.1,18.3-125,31.4,1.4-2.4,2.8-4.8,4.1-7.2,17.3-30.2,35.9-60.6,47.7-93.6h-.1c1.8-5.1-5.5-7.7-7.4-2.8-.9,2.2-2.8,6.7-3.7,8.9-.8,1.7-3.3,7.1-4.1,8.7-12.7,25-29.3,47.5-45.5,70.5-5.6,8-11.3,16-16.9,24.1-4.1,1.4-8.2,2.9-12.3,4.3h0c-7.4,2.6-11.1,11-8,18.2.6,1.4,1.4,2.6,2.3,3.6-8.1,12.1-16.1,24.2-24.1,36.5-4.3,6.5-1.9,15.5,5.1,18.9,6.5,3.2,14.4.6,17.6-6l5.8-11.6c3.8-7.5,8-15.6,11.9-23,2.7-5,5.4-10.1,8.2-15.1,43.2-18.3,87.4-34,132.7-46.1-19.6,32.3-41.1,63.4-63,94.3-10.4,18.3,15,33.9,26.7,16.7,24.1-38.7,47.8-78,68.1-118.9,58.3-13.6,117.7-22.9,176.9-32.1.9-.1,1.4-.8,1.4-1.7,0-.9-.9-1.5-1.8-1.5Z"/>
          </svg>
        </div>

        <p class="mt-6 text-sm text-brand-600 dark:text-brand-400 text-center sm:text-left">
          Helping sales leaders hire, develop, and retain top performers.
        </p>

        <ul class="mt-8 flex justify-center gap-6 sm:justify-start md:gap-8">
          <li>
            <a href="https://linkedin.com/in/jasonhowes" rel="noreferrer" target="_blank" class="text-brand-500 dark:text-brand-400 transition hover:text-brand-700 dark:hover:text-brand-300">
              <span class="sr-only">LinkedIn</span>
              <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path fill-rule="evenodd" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </li>

          <li>
            <a href="https://instagram.com/jasonhowes" rel="noreferrer" target="_blank" class="text-brand-500 dark:text-brand-400 transition hover:text-brand-700 dark:hover:text-brand-300">
              <span class="sr-only">Instagram</span>
              <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/jasonhowes" rel="noreferrer" target="_blank" class="text-brand-500 dark:text-brand-400 transition hover:text-brand-700 dark:hover:text-brand-300">
              <span class="sr-only">X (Twitter)</span>
              <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-4 lg:col-span-2">
        <div class="text-center sm:text-left">
          <p class="text-sm uppercase tracking-wider font-semibold text-brand-900 dark:text-brand-200">Resources</p>

          <ul class="mt-6 space-y-3 text-sm">
            <li>
              <a class="text-brand-600 dark:text-brand-400 transition hover:text-brand-900 dark:hover:text-brand-200" href="/books">
                Books
              </a>
            </li>
            <li>
              <a class="text-brand-600 dark:text-brand-400 transition hover:text-brand-900 dark:hover:text-brand-200" href="/podcast">
                Podcast
              </a>
            </li>
            <li>
              <a class="text-brand-600 dark:text-brand-400 transition hover:text-brand-900 dark:hover:text-brand-200" href="/courses">
                Courses
              </a>
            </li>
            <li>
              <a class="text-brand-600 dark:text-brand-400 transition hover:text-brand-900 dark:hover:text-brand-200" href="/blog">
                Blog
              </a>
            </li>
          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-sm uppercase tracking-wider font-semibold text-brand-900 dark:text-brand-200">Work With Jason</p>

          <ul class="mt-6 space-y-3 text-sm">
            <li>
              <a class="text-brand-600 dark:text-brand-400 transition hover:text-brand-900 dark:hover:text-brand-200" href="/engage-jason">
                Speaking
              </a>
            </li>
            <li>
              <a class="text-brand-600 dark:text-brand-400 transition hover:text-brand-900 dark:hover:text-brand-200" href="/engage-jason">
                Training & Workshops
              </a>
            </li>
            <li>
              <a class="text-brand-600 dark:text-brand-400 transition hover:text-brand-900 dark:hover:text-brand-200" href="/engage-jason">
                Consulting
              </a>
            </li>
          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-sm uppercase tracking-wider font-semibold text-brand-900 dark:text-brand-200">Company</p>

          <ul class="mt-6 space-y-3 text-sm">
            <li>
              <a class="text-brand-600 dark:text-brand-400 transition hover:text-brand-900 dark:hover:text-brand-200" href="/about">
                About
              </a>
            </li>
            <li>
              <a class="text-brand-600 dark:text-brand-400 transition hover:text-brand-900 dark:hover:text-brand-200" href="/contact">
                Contact
              </a>
            </li>
          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-sm uppercase tracking-wider font-semibold text-brand-900 dark:text-brand-200">Legal</p>

          <ul class="mt-6 space-y-3 text-sm">
            <li>
              <a class="text-brand-600 dark:text-brand-400 transition hover:text-brand-900 dark:hover:text-brand-200" href="/privacy">
                Privacy Policy
              </a>
            </li>
            <li>
              <a class="text-brand-600 dark:text-brand-400 transition hover:text-brand-900 dark:hover:text-brand-200" href="/terms">
                Terms of Service
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-12 border-t border-brand-200 dark:border-brand-800 pt-6">
      <div class="text-center sm:flex sm:justify-between sm:text-left">
        <p class="text-sm text-brand-500 dark:text-brand-500">
          All rights reserved.
        </p>

        <p class="mt-4 text-sm text-brand-500 dark:text-brand-500 sm:order-first sm:mt-0" id="copyright-year">
          &copy; 2025 Jason Howes
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const copyrightElement = document.getElementById('copyright-year');
    if (copyrightElement) {
      const currentYear = new Date().getFullYear();
      copyrightElement.innerHTML = `&copy; ${currentYear} Jason Howes`;
    }
  });
</script>
