---
import Card from './Card.astro';
---




<section id="free-resources" class="px-4 py-18 bg-[#F1F1F1]">
  <div ">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h3 class="text-base/9 font-semibold">DOWNLOAD JASON'S FREE GUIDES TO ATTRACT MORE CLIENTS AND BOOST SALES</h3>
      <h5 class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance">FREE RESOURCES</h5>
    </div>
    </div>
  </div>
</div>
  <div class="py-20 max-w-6xl mx-auto flex flex-col md:flex-row gap-10 justify-center items-center">
    <Card 
      image="/whitepaper_cover.png"
      heading="Compensation Guide"
      subheading="Pay & performance"
      copy="A proven model to optimise pay, motivate sales teams, and retain talent."
      buttonText="Download"
      buttonLink="#"
    />
    <Card 
      image="/onboarding.png"
      heading="Onboarding Process"
      subheading="Clarity from day one"
      copy="Hiring well isn’t enough. Clear strategy and expectations help new hires perform faster."
      buttonText="Download"
      buttonLink="#"
    />
  </div>
</section>


