---

---

<section
  class="relative flex items-center justify-center h-screen bg-checkered"
>
  <div class="relative z-10 w-full max-w-4xl lg:max-w-2xl mx-auto px-4 sm:px-6 lg:px-8 py-8 md:py-12">
    <div class="text-center">
            <h1 class="mb-4 py-6 md:mb-6 leading-tight text-5xl sm:text-6xl md:text-7xl lg:text-[9rem] xl:text-[15rem] 2xl:text-[12rem]">
        Sales results don't improve on intent
      </h1>
      <h4 class="mb-4 md:mb-6 text-xs sm:text-sm tracking-widest font-semibold text-brand-700!">
        They improve on clarity and execution.
      </h4>

    </div>
  </div>

</section>
